body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 .m-game{
  position: relative;
  overflow: hidden;
 }
@media only screen and (min-width:1500px) {
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   .title-bot{
    display: none;
   }
  .title-top{
    display: none;
  }
   .m-game{
    position: relative;
    overflow-y: hidden;
   }
  
   .nen{
    width: 100%;
    height: 100vh;
   }
   .logo {
    position: absolute;
    top: 0;
    right:20px;
  
   }
   .logo img{
    width:300px
   }
   .title{
    display:block;
    position: absolute;
    top:10px
   }
   .title img{
    width: 68%;
   }
   .spin__wrapper{
     position: absolute;
     top:0px;
     left:50%;
     transform: translateX(-45%);
   }
   .spin_container{
    transition: transform 5s ease-in-out;
  
   }
   .spin_container img{
    width:1100px
   }
   .spin {
    position: relative;
   }
   .spin_arrow{
    position: absolute;
    top: 186px;
    left:51.5%;
    transform: translateX(-50%);
   }
   .spin_arrow img{
    width: 58%;
   }
   .footer_spin{
    
    position: absolute;
    top:750px;
    left:52%;
    transform: translateX(-50%);
    z-index: -100;
  }
  .footer_spin img{
    width: 90%;
  }
  .notification{
    position:absolute;
    text-align: center;
    top:90px;
    left:54%;
    transform: translateX(-50%);
    color:rgb(164, 5, 5);
    font-size: 34px;
    font-weight: 700;
  }
   
}
@media only screen and (min-width:1200px) and (max-width:1499px) {
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   .title-bot{
    display: none;
   }
  .title-top{
    display: none;
  }
  
   .m-game{
    position: relative;
    overflow-y: hidden;
   }
  
   .nen{
    width: 100%;
    height: 100vh;
   }
   .logo {
    position: absolute;
    top: 10px;
    right:20px;
  
   }
   .logo img{
    width:200px
   }
   .title{
    display:block;
    position: absolute;
    top:40px
   }
   .title img{
    width: 50%;
   }
   .spin__wrapper{
     position: absolute;
     top:40px;
     left:50%;
     transform: translateX(-45%);
   }
   .spin_container{
    transition: transform 5s ease-in-out;
  
   }
   .spin_container img{
    width:800px
   }
   .spin {
    position: relative;
   }
   .spin_arrow{
    position: absolute;
    top: 138px;
    left:54%;
    transform: translateX(-50%);
   }
   .spin_arrow img{
    width: 34%;
   }
   .footer_spin{
    
    position: absolute;
    top:565px;
    left:54%;
    transform: translateX(-50%);
    z-index: -100;
  }
  .footer_spin img{
    width: 80%;
  }
  .notification{
    width: 100%;
    position:absolute;
    text-align: center;
    top:80px;
    left:54%;
    transform: translateX(-50%);
    color:rgb(164, 5, 5);
    font-size: 24px;
    font-weight: 700;
  }
   
}

@media only screen and (max-width:1199px) and (min-width:768px) {
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   .title-bot{
    display: none;
   }
  .title-top{
    display: none;
  }
  
   .m-game{
    position: relative;
    overflow-y: hidden;
   }
  
   .nen{
    width: 100%;
    height: 100vh;
   }
   .logo {
    position: absolute;
    top: 10px;
    right:20px;
  
   }
   .logo img{
    width:150px
   }
   .title{
    position: absolute;
    top:20px
   }
   .title img{
    width: 60%;
   }
   .spin__wrapper{
     position: absolute;
     top:20px;
     left:50%;
     transform: translateX(-45%);
   }
   .spin_container{
    transition: transform 5s ease-in-out;
  
   }
   .spin_container img{
    width:640px
   }
   .spin {
    position: relative;
   }
   .spin_arrow{
    position: absolute;
    top: 105px;
    left:54.9%;
    transform: translateX(-50%);
   }
   .spin_arrow img{
    width: 32%;
   }
   .footer_spin{
    
    position: absolute;
    top:455px;
    left:55.5%;
    transform: translateX(-50%);
    z-index: -100;
  }
  .footer_spin img{
    width: 75%;
  }
  .notification{
    width: 600px;
    position:absolute;
    text-align: center;
    top:80px;
    left:54%;
    transform: translateX(-50%);
    color:rgb(164, 5, 5);
    font-size: 18px;
    font-weight: 600;
  }
   
}



@media only screen and (max-width:480px){
  .m-game{
    position: relative;
    overflow-y: hidden;
   }
  .nen{
     width: 100%;
     height:100vh ;
  }
  .logo {
    position: absolute;
    top: 10px;
    right:20px;
  
   }
   .logo img{
    width:100px
   }
   .title{
    display: none;
   }
   .title-top{
     position: absolute;
     top:30px;
     left:10px;
   }
   .title-top img{
    width:100px;
  }
   .title-bot{
    position: absolute;
    top:650px;
    left:10px;
   }
   .title-bot img{
    width: 100px;
   }
   .spin__wrapper{
    position: absolute;
    top:100px;
    left:42%;
    transform: translateX(-45%);
  }
  .spin_container{
   transition: transform 5s ease-in-out;
 
  }
  .spin_container img{
   width:550px
  }
   .spin {
    position: relative;
   }
   .spin_arrow{
    position: absolute;
    top: 96px;
    left:55.4%;
    transform: translateX(-50%);
   }
   .spin_arrow img{
    width: 26%;
   }
   .footer_spin{
    
    position: absolute;
    top:385px;
    left:51.6%;
    transform: translateX(-50%);
    z-index: -100;
  }
  .footer_spin img{
    width: 92%;
  }
  .chucmung{
    position: absolute;
    top :100px;
    left: 52px;
    text-align: center;
    transform: translateX(-50%);
    color:rgb(164, 5, 5);
    font-size: 16px;
    font-weight: 700;
  }
  .notification{
    text-align: center;
    width: 350px;
    position:absolute;
    top:130px;
    left:52%;
    transform: translateX(-50%);
    color:rgb(164, 5, 5);
    font-size: 16px;
    font-weight: 700;
  }
}

@media only screen and (max-width:768px) and (min-width:481px){
  .m-game{
    position: relative;
    overflow-y: hidden;
   }
  .nen{
     width: 100%;
     height:100vh ;
  }
  .logo {
    position: absolute;
    top: 10px;
    right:20px;
  
   }
   .logo img{
    width:120px
   }
   .title{
    display: none;
   }
   .title-top{
     position: absolute;
     top:30px;
     left:10px;
   }
   .title-top img{
    width:120px;
  }
   .title-bot{
    position: absolute;
    top:650px;
    left:10px;
   }
   .title-bot img{
    width: 120px;
   }
   .spin__wrapper{
    position: absolute;
    top:170px;
    left:48%;
    transform: translateX(-45%);
  }
  .spin_container{
   transition: transform 5s ease-in-out;
 
  }
  .spin_container img{
   width:550px
  }
   .spin {
    position: relative;
   }
   .spin_arrow{
    position: absolute;
    top: 95px;
    left:55.2%;
    transform: translateX(-50%);
   }
   .spin_arrow img{
    width: 30%;
   }
   .footer_spin{
    
    position: absolute;
    top:380px;
    left:52.5%;
    transform: translateX(-50%);
    z-index: -100;
  }
  .footer_spin img{
    width: 90%;
  }
  .notification{
    text-align: center;
    width: 500px;
    position:absolute;
    left:52%;
    top:200px;
    transform: translateX(-50%);
    color:rgb(164, 5, 5);
    font-size: 18px;
    font-weight: 700;
  }
}
 
