body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 .m-game{
  position: relative;
  overflow: hidden;
 }
@media only screen and (min-width:1500px) {
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

   .m-game{
    position: relative;
    overflow-y: hidden;
   }
  
   .nen{
    width: 100%;
    height: 100vh;
   }
   .logo {
    position: absolute;
    top: 0;
    right:20px;
  
   }
   .logo img{
    width:280px
   }
   .title{
    display: none;
   }
   .title-top{
     position: absolute;
     top:30px;
     left:30px;
   }
   .title-top img{
    width:300px;
  }
   .title-bot{
    position: absolute;
    bottom:80px;
    left:0px;
   }
   .title-bot img{
    width: 350px;
   }
   .spin__wrapper{
     position: absolute;
     top: 20px;
     left:50%;
     transform: translateX(-45%);
   }
   .spin_container{
    transition: transform 5s ease-in-out;
    height: 700px;
    
  
   }
   .spin_container img{
    width:700px
   }
   .spin {
    position: relative;
   }
   .spin_arrow{
    position: absolute;
    top: 54px;
    left:52.9%;
    transform: translateX(-50%);
   }
   .spin_arrow img{
    width: 50%;
   }
   .footer_spin{
    
    position: absolute;
    top:610px;
    left:50%;
    transform: translateX(-50%);
    z-index: -100;
  }
  .footer_spin img{
    width: 100%;
  }
  .notification__child{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position:absolute;
    text-align: center;
    top:464px;
    left:0;
    transform: translateY(-85%);
    color:rgb(164, 5, 5);
    font-size: 60px;
    padding:60px 0px;
    font-weight: 700;
  }
  .count{
    text-align: center;
    color:white;
    position:absolute;
    top:800px;
    left:51.7%;
    transform: translateX(-50%);
  }
  .count_button{ 
    padding:20px 40px;
    text-align: center;
    background: rgb(164, 5, 5);
    color:white;
    outline: none;
    border:none;
    font-size: 30px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  .count_title{
    color: rgb(164, 5, 5);
    text-align: center; 
    font-size: 30px;
    font-weight: 700;
  }
   
  
   
}
@media only screen and (min-width:1200px) and (max-width:1499px) {
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

  
   .m-game{
    position: relative;
    overflow-y: hidden;
   }
  
   .nen{
    width: 100%;
    height: 100vh;
   }
   .logo {
    position: absolute;
    top: 10px;
    right:20px;
  
   }
   .logo img{
    width:200px
   }
   .title{
    display: none;
   }
   .title-top{
     position: absolute;
     top:30px;
     left:30px;
   }
   .title-top img{
    width:250px;
  }
   .title-bot{
    position: absolute;
    bottom:70px;
    left:20px;
   }
   .title-bot img{
    width: 250px;
   }
   .spin__wrapper{
     position: absolute;
     top:40px;
     left:50%;
     transform: translateX(-45%);
   }
   .spin_container{
    transition: transform 5s ease-in-out;
    height:580px;
  
   }
   .spin_container img{
    width:580px
   }
   .spin {
    position: relative;
   }
   .spin_arrow{
    position: absolute;
    top: 45px;
    left:54.1%;
    transform: translateX(-50%);
   }
   .spin_arrow img{
    width: 42%;
   }
   .footer_spin{
    
    position: absolute;
    top:510px;
    left:50%;
    transform: translateX(-50%);
    z-index: -100;
  }
  .footer_spin img{
    width: 100%;
  }
  .notification__child{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position:absolute;
    text-align: center;
    top:390px;
    left:0;
    transform: translateY(-85%);
    color:rgb(164, 5, 5);
    font-size: 46px;
    padding:40px 0px;
    font-weight: 700;
  }
  .count{
    text-align: center;
    color:white;
    position:absolute;
    top:700px;
    left:52%;
    transform: translateX(-50%);
  }
  .count_button{ 
    padding:20px 40px;
    text-align: center;
    background: rgb(164, 5, 5);
    color:white;
    outline: none;
    border:none;
    font-size: 24px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  .count_title{
    color: rgb(164, 5, 5);
    text-align: center; 
    font-size: 24px;
    font-weight: 700;
  }
   
}

@media only screen and (max-width:1199px) and (min-width:768px) {
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

  
   .m-game{
    position: relative;
    overflow-y: hidden;
   }
  
   .nen{
    width: 100%;
    height: 100vh;
   }
   .logo {
    position: absolute;
    top: 10px;
    right:20px;
  
   }
   .logo img{
    width:150px
   }
   .title{
    display: none;
   }
   .title-top{
     position: absolute;
     top:30px;
     left:30px;
   }
   .title-top img{
    width:200px;
  }
   .title-bot{
    position: absolute;
    bottom: 100px;
    left:30px;
   }
   .title-bot img{
    width: 200px;
   }
   .spin__wrapper{
     position: absolute;
     top:100px;
     left:50%;
     transform: translateX(-45%);
   }
   .spin_container{
    transition: transform 5s ease-in-out;
    height: 500px;
  
   }
   .spin_container img{
    width:500px
   }
   .spin {
    position: relative;
   }
   .spin_arrow{
    position: absolute;
    top: 39px;
    left:55.5%;
    transform: translateX(-50%);
   }
   .spin_arrow img{
    width: 37%;
   }
   .footer_spin{
    
    position: absolute;
    top:440px;
    left:48%;
    transform: translateX(-50%);
    z-index: -100;
  }
  .footer_spin img{
    width: 110%;
  }
  .notification__child{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position:absolute;
    text-align: center;
    top:410px;
    left:0;
    transform: translateY(-85%);
    color:rgb(164, 5, 5);
    font-size: 38px;
    padding:40px 0px;
    font-weight: 700;
  }
  .count{
    text-align: center;
    color:white;
    position:absolute;
    top:750px;
    left:52.5%;
    transform: translateX(-50%);
  }
  .count_button{ 
    padding:20px 40px;
    text-align: center;
    background: rgb(164, 5, 5);
    color:white;
    outline: none;
    border:none;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  .count_title{
    color: rgb(164, 5, 5);
    text-align: center; 
    font-size: 22px;
    font-weight: 700;
  }
   
}

@media only screen and (max-width:768px) and (min-width:481px){
  .m-game{
    position: relative;
    overflow-y: hidden;
   }
  .nen{
     width: 100%;
     height:100vh ;
  }
  .logo {
    position: absolute;
    top: 10px;
    right:20px;
  
   }
   .logo img{
    width:120px
   }
   .title{
    display: none;
   }
   .title-top{
     position: absolute;
     top:30px;
     left:20px;
   }
   .title-top img{
    width:150px;
  }
   .title-bot{
    position: absolute;
    bottom:60px;
    left:10px;
   }
   .title-bot img{
    width: 170px;
   }
   .spin__wrapper{
    position: absolute;
    top:120px;
    left:46%;
    transform: translateX(-45%);
  }
  .spin_container{
   transition: transform 5s ease-in-out;
   height:450px;
  }
  .spin_container img{
   width:450px
  }
   .spin {
    position: relative;
   }
   .spin_arrow{
    position: absolute;
    top: 35px;
    left:56.1%;
    transform: translateX(-50%);
   }
   .spin_arrow img{
    width: 34%;
   }
   .footer_spin{
    
    position: absolute;
    top:390px;
    left:47%;
    transform: translateX(-50%);
    z-index: -100;
  }
  .footer_spin img{
    width: 110%;
  }
  .notification__child{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position:absolute;
    text-align: center;
    top:400px;
    left:0;
    transform: translateY(-85%);
    color:rgb(164, 5, 5);
    font-size: 29px;
    padding:40px 0px;
    font-weight: 700;
  }
  .count{
    text-align: center;
    color:white;
    position:absolute;
    top: 650px;
    left:50%;
    transform: translateX(-50%);
  }
  .count_button{ 
    padding:20px 20px;
    text-align: center;
    background: rgb(164, 5, 5);
    color:white;
    outline: none;
    border:none;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  .count_title{
    color: rgb(164, 5, 5);
    text-align: center; 
    font-size: 20px;
    font-weight: 700;
  }
}
 
@media only screen and (max-width:480px){
  
  .m-game{
    position: relative;
    overflow-y: hidden;
   }
  .nen{
     width: 100%;
     height:100vh ;
  }
  .logo {
    position: absolute;
    top: 10px;
    right:20px;
  
   }
   .logo img{
    width:100px
   }
   .title{
    display: none;
   }
   .title-top{
     position: absolute;
     top:30px;
     left:20px;
   }
   .title-top img{
    width:100px;
  }
   .title-bot{
    position: absolute;
    top:650px;
    left:10px;
   }
   .title-bot img{
    width: 120px;
   }
   .spin__wrapper{
    position: absolute;
    top:85px;
    left:45%;
    transform: translateX(-45%);
  }
  .spin_container{
   height: 360px;
   transition: transform 5s ease-in-out;
 
  }
  .spin_container img{
   width:360px
   
  }
   .spin {
    position: relative;
   }
   .spin_arrow{
    
    position: absolute;
    top: 26px;
    left:58.5%;
    transform: translateX(-50%);
   }
   .spin_arrow img{
    width: 28%;
   }
   .footer_spin{
    
    position: absolute;
    top:310px;
    left:47.7%;
    transform: translateX(-50%);
    z-index: -100;
  }
  .footer_spin img{
    width: 110%;
  }

  .notification__child{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position:absolute;
    text-align: center;
    top:192px;
    left:0;
    color:rgb(164, 5, 5);
    font-size: 20px;
    padding:45px 0px;
    font-weight: 700;
  }
  .count{
    text-align: center;
    color:white;
    position:absolute;
    top: 500px;
    left:49%;
    transform: translateX(-50%);
  }
  .count_button{ 
    padding:20px 20px;
    text-align: center;
    background: rgb(164, 5, 5);
    color:white;
    outline: none;
    border:none;
    font-size: 16px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  .count_title{
    color: rgb(164, 5, 5);
    text-align: center; 
    font-size: 16px;
    font-weight: 700;
  }
}

