@media only screen and (min-width:1200px) {
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
  .nen{
  height: 100vh;
  width: 100%;
  vertical-align: middle;
  overflow-y: hidden;
  }
  .logo{
  position: absolute;
  top:10px;
  right:30px;
  }
  .logo img{
    width:280px
  }
  .title{
    position :absolute;
    top:50px;
  }
  .title img {
    width:60%
  }
  .m-game {
  overflow-y: hidden;
  position: relative;
    
  }
  .m-game__wrapper {
    /* overflow: hidden; */
    
    background-image: url("./assets/spinspin.png");
    top:0;
    position: absolute;
    left:34%;
    background-size: contain;
    background-position: 100%;
    background-repeat:no-repeat ;
    display: block;
    width: 36%;
    height: 100vh;
    border-radius: 100%;
    transition: transform 10s cubic-bezier(0.6, 0.4, 0, 1);
    z-index:100
    
  }
  .m-game__start {
    display: block;
    width: 20%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
    transition: 0.3s;
  
  }
  .arrow__wrapper{
    position:absolute;
    top: 162px;
    left:50.7%;
    z-index: 100
  } 
  .arrow__wrapper img{
    width:60%
  }


  .de{
    background-image: url("./assets/de.png");
    top:475px;
    z-index: 20;
    position: absolute;
    left:38%;
    background-size: contain;
    background-position: 100%;
    background-repeat:no-repeat ;
    width: 28%;
    z-index: 1;
    height: 100vh;
    border-radius: 100%;
    
  }
  .de img{
    width: 80%;
  }

  .m-game__text {

    position: absolute;
    text-align: center;
    color: #fff;
    transform-origin: 0 50%;
    padding-left: 3%;
  }
  .m-game__text:nth-child(1) {
    width:200px;
    position:absolute;
    top:55%;
    left:78%;
    transform: rotate(-90deg);
    padding-top:10px
    
  }
  .m-game__text:nth-child(2) {
    width: 240px;
    position:absolute;
    color:#9f070e;
    top:68%;
    left:56%;
    transform: rotate(-45deg);
    padding-top:10px
  }
  .m-game__text:nth-child(3) {
    width: 240px;
    position:absolute;
    top:64%;
    left:30%;
    transform: rotate(-0deg);
    padding-top:10px
  }
  .m-game__text:nth-child(4) {
    width: 240px;
    color:#9f070e;
    position:absolute;
    top:46%;
    left:16%;
    transform: rotate(45deg);
    padding-top:30px
  }
  .m-game__text:nth-child(5) {
    width: 200px;
    position:absolute;
    top:30%;
    left:25%;
    transform: rotate(90deg);
    padding-top:30px
  }
  .m-game__text:nth-child(6) {
    width: 240px;
    color:#9f070e;
    position:absolute;
    top:19%;
    left:46%;
    transform: rotate(135deg);
    padding-top:30px
  } 
  .m-game__text:nth-child(7) {
    width: 160px;
    position:absolute;
    top:25%;
    left:64%;
    transform: rotate(180deg);
    
  } 
  .m-game__text:nth-child(8) {
    width: 180px;
    color:#9f070e;
    position:absolute;
    top:38%;
    left:79%;
    transform: rotate(225deg);

  } 
  .price{
    margin: 10px;
    font-size: 36px; 
    transform: rotate(180deg);
    font-weight: 700;
  }
  .gift{
    margin: 0; 
    transform: rotate(180deg);
    font-size: 30px; 
    font-weight: 500;
  }
  
}

@media only screen and (max-width:480px) {
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  .m-game {
    overflow-y: hidden;
    position: relative; 
    }
    .nen{
    
    
    height:100vh
    }
    .logo{
    position: absolute;
    top:0;
    right:10px;
    }
    .logo img{
      width:80px;
    }
    .title{
      position :absolute;
      top:20px;
    }
    .title img {
      width:200px;
    }
    .m-game__wrapper {
      background-image: url(./assets/spinspin.png);
      position: absolute;
      top:-250px;
      left:20%;
      background-size: contain;
      background-position: 100%;
      background-repeat:no-repeat ;
      display: block;
      width: 60%;
      z-index: 1;
      height: 100vh;
      border-radius: 100%;
      z-index: 100;
      transition: transform 10s cubic-bezier(0.5, 0.2, 0, 1);
      ;
    }

    .de{
      background-image: url(./assets/de.png);
      top:-92px;
      z-index: 10;
      position: absolute;
      left:33%;
      background-size: contain;
      background-position: 100%;
      background-repeat:no-repeat ;
      width: 33%;
      z-index: 1;
      height: 100vh;
      border-radius: 100%;
      
    }

    .arrow__wrapper{
    
      position:absolute;
      top: 85px;
      left:48.1%;
      z-index: 100
    } 
    .arrow__wrapper img{
      
      width:20%
    } 

    .m-game__text {
      width: 160px;
      position: absolute;
      text-align: center;
  
      color: #fff;
      
      transform-origin: 0 50%;
      padding-left: 3%;
    }
    .m-game__text:nth-child(1) {
      width:56px;
      position:absolute;
      top:51.5%;
      left:77%;
      transform: rotate(-90deg);
      padding-top:10px
      
    }
    .m-game__text:nth-child(2) {
      width: 240px;
      position:absolute;
      color:#9f070e;
      top:63%;
      left:34%;
      transform: rotate(-45deg);
      padding-top:10px
    }
    .m-game__text:nth-child(3) {
      width: 240px;
      position:absolute;
      top:56%;
      left:-2%;
      transform: rotate(-0deg);
      padding-top:10px
    }
    .m-game__text:nth-child(4) {
      width: 240px;
      color:#9f070e;
      position:absolute;
      top:42%;
      left:-5%;
      transform: rotate(45deg);
      padding-top:30px
    }
    .m-game__text:nth-child(5) {
      width: 60px;
      position:absolute;
      top:42.5%;
      left:27.5%;
      transform: rotate(90deg);
      padding-top:30px
    }
    .m-game__text:nth-child(6) {
      width: 50px;
      color:#9f070e;
      position:absolute;
      top:40%;
      left:44%;
      transform: rotate(135deg);
      padding-top:30px
    } 
    .m-game__text:nth-child(7) {
      width: 40px;
      position:absolute;
      top:40.5%;
      left:61%;
      transform: rotate(180deg);
      
    } 
    .m-game__text:nth-child(8) {
      width: 40px;
      color:#9f070e;
      position:absolute;
      top:45%;
      left:77%;
      transform: rotate(225deg);
  
    } 
    .price{
       margin: 0;
      font-size: 13px; 
      transform: rotate(180deg);
      font-weight: 700;
    }
    .gift{
    margin: 0; 
    transform: rotate(180deg);
    font-size: 10px; 
    font-weight: 500;
    }


  }

  @media only screen and (max-width:400px) {
    body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    
    }
    .m-game {
      overflow-y: hidden;
      position: relative; 
      }
      .nen{
      
      
      height:100vh
      }
      .logo{
      position: absolute;
      top:0;
      right:10px;
      }
      .logo img{
        width:80px;
      }
      .title{
        position :absolute;
        top:20px;
      }
      .title img {
        width:200px;
      }
      .m-game__wrapper {
        background-image: url(./assets/spinspin.png);
        position: absolute;
        top:-200px;
        left:20%;
        background-size: contain;
        background-position: 100%;
        background-repeat:no-repeat ;
        display: block;
        width: 60%;
        z-index: 1;
        height: 100vh;
        border-radius: 100%;
        z-index: 100;
        transition: transform 10s cubic-bezier(0.5, 0.2, 0, 1);
        ;
      }
  
      .de{
        background-image: url(./assets/de.png);
        top:-68px;
        z-index: 10;
        position: absolute;
        left:33%;
        background-size: contain;
        background-position: 100%;
        background-repeat:no-repeat ;
        width: 33%;
        z-index: 1;
        height: 100vh;
        border-radius: 100%;
        
      }
  
      .arrow__wrapper{
      
        position:absolute;
        top: 65px;
        left:48.1%;
        z-index: 100
      } 
      .arrow__wrapper img{
        
        width:16%
      } 
  
      .m-game__text {
        width: 160px;
        position: absolute;
        text-align: center;
    
        color: #fff;
        
        transform-origin: 0 50%;
        padding-left: 3%;
      }
      .m-game__text:nth-child(1) {
        width:56px;
        position:absolute;
        top:51.5%;
        left:77%;
        transform: rotate(-90deg);
        padding-top:10px
        
      }
      .m-game__text:nth-child(2) {
        
        position:absolute;
        color:#9f070e;
        top:65%;
        left:28%;
        transform: rotate(-45deg);
        padding-top:10px
      }
      .m-game__text:nth-child(3) {

        position:absolute;
        top:55%;
        left:-8%;
        transform: rotate(-0deg);
        padding-top:10px
      }
      .m-game__text:nth-child(4) {
        
        color:#9f070e;
        position:absolute;
        top:39%;
        left:-8%;
        transform: rotate(45deg);
        padding-top:30px
      }
      .m-game__text:nth-child(5) {
        width: 60px;
        position:absolute;
        top:41%;
        left:27.5%;
        transform: rotate(90deg);
        padding-top:30px
      }
      .m-game__text:nth-child(6) {
        width: 50px;
        color:#9f070e;
        position:absolute;
        top:38%;
        left:46%;
        transform: rotate(135deg);
        padding-top:30px
      } 
      .m-game__text:nth-child(7) {
        width: 40px;
        position:absolute;
        top:39.5%;
        left:61%;
        transform: rotate(180deg);
        
      } 
      .m-game__text:nth-child(8) {
        width: 40px;
        color:#9f070e;
        position:absolute;
        top:45%;
        left:77%;
        transform: rotate(225deg);
    
      } 
      .price{
         margin: 0;
        font-size: 13px; 
        transform: rotate(180deg);
        font-weight: 700;
      }
      .gift{
      margin: 0; 
      transform: rotate(180deg);
      font-size: 9px; 
      font-weight: 500;
      }
  
  
    }



